.App {
  text-align: center;
  background-image: url(../public/images/ab.jpg);
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-size: 3rem;
  font-family: cursive;
  font-style: oblique;
  font-variant: small-caps;
  border: 10px solid red;
  background-color: blue;
  color: aqua;
}
.heroDiv {
  border: 10px solid black;
  width: 400px;
  display: inline-block;
  overflow: auto;
  margin: 10px;
  background-color: aqua;
  color: blue;
}
img {
  width: 300px;
  height: 300px;
}
video {
  width: 300px;
}
audio {
  width: 300px;
}
